/***************** RESET *******************/
* {
  box-sizing: border-box;
  margin: 0;
}

.header menu,
.header ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: 0;
  color: black;
}

/*****************UTILS*********************/

:root {
  --fluo-green: chartreuse;
  --lighter-green: lightgreen;
  --medium-green: limegreen;
  --darker-green: green;
}

/**************COMPONENTS***************/

.header {
  position: relative;
  background-color: var(--fluo-green);
}

.flex-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2px;
}

.dropdown {
  position: relative;
}

.dropdown-head {
  padding: 1.5rem;
  background-color: var(--darker-green);
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  background-color: var(--lighter-green);
}

.dropdown-content li {
  padding: 1rem;
}

/*********** MAGIC **************/

.dropdown-content li:hover {
  background-color: var(--medium-green);
  cursor: pointer;
}

.dropdown-head:hover {
  background-color: var(--medium-green);
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-head {
  background-color: var(--medium-green);
}
