/***************** RESET *******************/
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: rgb(79, 69, 89);
}

.header menu,
.header ul {
  list-style: none;
  padding: 0;
}
a,
p {
  text-decoration: 0;
  color: white;
}

/*****************UTILS*********************/

:root {
  --fluo-green: rgb(54, 85, 241);
  --lighter-green: rgb(141, 105, 225);
  --medium-green: rgb(52, 49, 89);
  --darker-green: rgb(24, 16, 51);
}

/*****************COMPONENTS****************/

.header {
  background-color: var(--fluo-green);
}

.flex-menu {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.dropdown {
  position: relative;
}

.dropdown-head {
  padding: 1.5rem;
  background-color: var(--darker-green);
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  background-color: var(--lighter-green);
}

.dropdown-content li {
  padding: 1rem;
}

/*********** MAGIC **************/

.dropdown-content li:hover {
  background-color: var(--medium-green);
  cursor: pointer;
}

.dropdown-head:hover {
  background-color: var(--medium-green);
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-head {
  /*  LAaaaaa*/
  background-color: var(--medium-green);
}
