* {
  box-sizing: border-box;
}
/********** UTILS ***************/
.ta-center {
  text-align: center;
}

h2 {
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
  color: white;
}

h3 {
  padding-top: 1rem;
  padding-left: 1rem;
}
/******* COMPONENTS *******/

.flex-body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(234, 234, 234);
}

.content {
  width: min(1000px, 100%);
  font-family: sans-serif;
  padding: 1rem;
}

.chapter-section {
  position: relative;
  margin-block: 1rem;
  background-color: rgb(252, 252, 252);
  padding: 1rem;
  border-radius: 1rem;
  height: min-content;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.chapter-section::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  background-color: rgb(27, 27, 178);
  z-index: 0;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
}
.subwindow {
  background-color: white;
  position: relative;
  scale: 0.75;
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 16/9;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
  resize: both;
}

.pdf-embed {
  width: 75%;
  aspect-ratio: 1/1.4142;
  margin-inline: auto;
}

h3:not(:first-of-type):after {
  content: "";
  display: block;
  width: 100%;
  height: 1rem;
  border-top: 5px solid;
  border-image: linear-gradient(to right, rgb(27, 27, 178), white) 1;
}
