.fw-bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

.ff-courier {
  font-family: Courier;
}

.ta-center {
  text-align: center;
}

.td-underline {
  text-decoration: underline;
}

.bg-green {
  background-color: chartreuse;
}

.bg-salmon {
  background-color: salmon;
}

.img-wd-50vw-centered {
  display: block;
  width: 50vw;
  margin-inline: auto;
}

.tiny-camille {
  width: 4rem;
}

.flex-align-centered {
  display: flex;
  align-items: center;
}
