.block {
  display: block;
}

.fw-bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

.ff-courier {
  font-family: Courier;
}

.ta-center {
  text-align: center;
}

.td-underline {
  text-decoration: underline;
}

.col-red {
  color: red;
}

.bg-green {
  background-color: chartreuse;
}

.bg-salmon {
  background-color: salmon;
}
.bg-lightskyblue {
  background-color: lightskyblue;
}

.bg-lightblue {
  background-color: lightblue;
}

.margin-inl-auto {
  margin-inline: auto;
}

.wd-50vw {
  width: 50vw;
}

.tiny-camille {
  width: 4rem;
}

.flex-align-centered {
  display: flex;
  align-items: center;
}

.border {
  border: 1px solid black;
}
